[Unit]
Description=Scoreboard service

[Service]
Type=simple
User=root                                # User that will spawn the process, defaults to the service name
Group=root                               # Group that will spawn the process, defaults to the service name
WorkingDirectory=/home/pi/nhlscoreboard
ExecStart=/usr/bin/python3 /home/pi/nhlscoreboard/app.py

[Install]
WantedBy=multi-user.target
